.nav_bar {
    position: absolute;
    width: 96%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 2%;
    color: var(--light);
    font-size: 23px;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0);
}

ul {
    list-style-type: none;
}

li {
    display: inline;
    padding: 10px;
    vertical-align: middle;
}

li > a {
    text-decoration: none;
}

img {
    width: 32px;
    filter: none;
    transition: filter 1s;
    transition: filter 0.5 transform 0.5s;
}

img:hover {
    filter: hue-rotate(360deg);
    transform: rotate(360deg);
    transition: filter 3s, transform 1s;
}

p {
    color: gray;
}

span {
    color: var(--light);
    font-weight: bold;
}

@media only screen and (max-width: 800px) {
    .nav_bar { display: block; }
    ul { padding: 2%; }
    img { width: 42px; }
}