.nav_btn {
    text-align: center; 
    align-items: center ;
    margin-top: 1%;
}

.nav_btn>img {
    width: 8%;
    transition: width 1s;
}

.nav_btn>img:hover{
    width: 10%;
    transition: width 1s;
}

@media only screen and (max-width: 850px) {
    .nav_btn>img {
        width: 30%;
        transition: width 1s;
    }
    
    .nav_btn>img:hover{
        width: 32%;
        transition: width 1s;
    }
}