.about_card {
    text-align: center;
    margin: 10px;
    border-radius: 20px;
    box-shadow: 2px 2px 2px 3px rgba(0, 0, 0, 0.2);
    color: var(--light);
    background-color: var(--dark);
    max-width: 300px;
    padding: 20px 0px;
}

.about_card_tag {
    max-width: 260px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 3px rgba(0, 0, 0, 0.2);
    color: var(--dark);
    background-color: var(--light);
    margin: 20px;
    padding: 10px;
}