#about_body {
    width: 90%;
    margin: 50px auto;
    text-align: center;
}

#about_salutation {
    width: 50%;
    margin: auto;
}

#about_buttons {
    display: flex;
    justify-content: center;
}

#about_buttons img{
    scale: 1.5;
    margin: 30px 20px 80px 20px;
}

#about_icon_box {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 50px;
    margin-bottom: 50px;
    place-items: center;
}

#about_icon_box img {
    scale: 1.8;
}

#about_content {
    margin: 0px auto 50px;
    width: 60%;
    border: 2px solid black;
    border-radius: 25px;
    padding: 50px;
    background-color: rgb(255, 255, 255);
    text-align: left;
}

.about_tag_container {
    display: grid;
}

.about_plus {
    display: flex;
    justify-content: space-between;
}

.about_plus > img {
    scale: 1.4;
}

#about_content h1 {
    margin-bottom: 10px;
}

@media only screen and (max-width: 800px) {
    #about_salutation { width: 60% }
    #about_icon_box {
        grid-template-columns: repeat(3, 1fr); 
        grid-template-rows: repeat(2, 1fr);
    }
    #about_content { 
        width: 90%; 
        padding: 20px;
    }
}