.about_card {
    text-align: center;
    border-radius: 20px;
    box-shadow: 2px 2px 2px 3px rgba(0, 0, 0, 0.2);
    color: var(--light);
    background-color: rgba(255, 255, 255, 0.8);
    width: 100%;
    padding: 23px;
}

.about_title {
    font-size: 23px;
    transition: color 1s, letter-spacing 1s;
}

.about_title:hover {
    color: yellow;
    letter-spacing: 5px; 
}

.about_title {
    display: flex;
    justify-content: space-between;
}