#gallery {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
}

#gallery .button_image {
    scale: 1.2;
    margin-left: 20px;
}

.gallery_item_container {
    display: flex;
    justify-content: center;
    max-height: 400px;
}

.gallery_item_container > img {
    object-fit: contain;
}