#parallax_bg {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: var(--dark);
}

#parallax_bg > div {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#parallax_bg > div img {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    object-fit: contain;
}