#project_details {
    width: 80%;
}

.project_details_header {
    display: flex;
    justify-content: space-between;
}

.project_details_files {
    width: 80%;
}

.project_details_files * {
    border-radius: 10px;
    margin-top: 50px;
    box-shadow: 2px 2px 2px 3px rgba(0, 0, 0, 0.5);
    width: 100%;
}

.project_details_files {
    margin-bottom: 50px;
}

.project_details_skills {
    margin: 5% 0%;
}