#gallery {
    display: flex;
    padding: 0 2%;
    justify-content: space-evenly;
}

@media only screen and (max-width: 800px) {
    #gallery {
        flex-direction: column;
        align-items: center;
    }
}