.project_card {
    padding: 25px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 2px 2px 2px 3px rgba(0, 0, 0, 0.2);
    width: 230px;
    background-color: black;
    transition: scale 0.5s;
}

.project_card:hover {
    scale: 1.04;
    transition: scale 0.5s;
}

.card_body {
    border-radius: 20px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(2px);
    color: var(--light);
}

/* .project_card img {
    margin: 10px 20px 0px;
} */

.card_body > div {
    display: flex;
    justify-content: space-evenly;
}

@media only screen and (max-width: 800px) {
    .project_card {
        margin: 0px 0px 25px;
    }
}