.project_card {
    padding: 25px;
    border-radius: 20px;
    text-align: center;
    box-shadow: 2px 2px 2px 3px rgba(0, 0, 0, 0.2);
    width: 200px;
}

.project_card div {
    display: flex;
    justify-content: center;
}

.project_card img {
    margin: 10px 20px 0px;
}

@media only screen and (max-width: 800px) {
    .project_card {
        margin: 0px 0px 25px;
    }
}