.tag {
    padding: 5px 10px;
    margin: 10px;
    border-radius: 5px;
    background-color: rgb(212, 212, 212);
    color: var(--dark);
    font-size: 0.7em;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.4);
    float: left;
}