.contacts {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    align-items: center;
    /* background-color: var(--dark); */
}

.contacts > img {
    scale: 5;
    margin: 100px;
}

@media only screen and (max-width: 800px) {
    .contacts > img {
        scale: 3;
        margin: 50px;
    }
}