* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: whitesmoke;
  font-family: 'Quicksand', sans-serif;
}

#container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

canvas {
  /* position: fixed; */
  /* display: block; */
  /* top: 0;
  left: 0; */
}

#header, #footer {
  width: 100%;
  position: absolute;
  text-align: center;
}

#header { top: 4%; }

#footer { bottom: 14%; }

.hidden {
  opacity: 0;
  transition: opacity 0.3s;
}

.visible {
  opacity: 1;
}
