:root {
  --orange: #ffc107;
  --blue: #269cf9;
  --green: #a9ff73;
  --red: #f44336;
  --dark: #10101a;
  --light: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.visible {
  opacity: 1;
  transition: opacity 1s;
}

.hidden {
  opacity: 0;
  transition: opacity 1s;
}