#nav_bar {
    position: absolute;
    width: 96%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 2%;
    color: var(--light);
    font-size: 23px;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0);
}

ul {
    
}

li {
    display: inline;
    padding: 10px;
    vertical-align: middle;
    float: left;
}

p {
    color: gray;
}

span {
    color: var(--light);
    font-weight: bold;
}

@media only screen and (max-width: 800px) {
    #nav_bar { 
        display: block;
    }
    ul { 
        display: flex;
        justify-content: center;
        padding: 2%;
    }
}