#nav_bar {
    width: 96%;
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 2%;
    font-size: 23px;
}

.overlay {
    position: absolute;
    background-color: rgba(0, 0, 0, 0);
    z-index: 2;
    color: var(--light);
    /* transition: background-color 1s, color 1s; */
}

.overlay a {
    color: var(--light);
}

.no_overlay { 
    background-color: var(--light);
    color: var(--dark);
    transition: background-color 1s, color 1s;
}

.no_overlay a {
    color: var(--dark);
}

li {
    display: inline;
    padding: 10px;
    vertical-align: middle;
    float: left;
}

span {
    font-weight: bold;
}

@media only screen and (max-width: 800px) {
    #nav_bar { 
        display: block;
        font-size: 20px;
    }
    ul { 
        display: flex;
        justify-content: center;
        padding: 2%;
    }
}