.button_image {
    width: 32px;
    height: 32px;
    filter: none;
    transition: filter 1s;
    transition: filter 0.5 transform 0.5s;
}

.button_image:hover {
    filter: hue-rotate(360deg);
    transform: rotate(360deg);
    transition: filter 3s, transform 1s;
}