#preloader {
    height: 100vh;
    width: 100%;
    background-color: var(--dark);
    justify-content: center;
    z-index: 5;
    text-align: center;
    font-size: 23px;
    color: #b2a8a8;
    position: absolute;
    top:0;
}